[DEFAULT]
bantime = {{ fail2ban_bantime | default(3600) }}
findtime = {{ fail2ban_findtime | default(600) }}
maxretry = {{ fail2ban_maxretry | default(3) }}
backend = systemd

[sshd]
enabled = true
port = ssh
logpath = %(sshd_log)s
mode = aggressive
