N8N_HOST={{ n8n_host }}
N8N_PORT={{ n8n_port }}
N8N_PROTOCOL=http
N8N_BASE_URL=/

N8N_ENCRYPTION_KEY={{ n8n_encryption_key }}

DB_TYPE=postgresdb
DB_POSTGRESDB_HOST=n8n_postgres
DB_POSTGRESDB_PORT=5432
DB_POSTGRESDB_DATABASE={{ n8n_db_name }}
DB_POSTGRESDB_USER={{ n8n_db_user }}
DB_POSTGRESDB_PASSWORD={{ n8n_db_password }}

EXECUTION_MODE={{ n8n_execution_mode }}
QUEUE_HEALTH_CHECK_ACTIVE={{ n8n_queue_health_check_active }}

GENERIC_TIMEZONE={{ n8n_timezone }}

{% if n8n_basic_auth_active | bool %}
N8N_BASIC_AUTH_ACTIVE=true
N8N_BASIC_AUTH_USER={{ n8n_basic_auth_user }}
N8N_BASIC_AUTH_PASSWORD={{ n8n_basic_auth_password }}
{% endif %}

{% if n8n_webhook_url %}
WEBHOOK_URL={{ n8n_webhook_url }}
{% endif %}

{% if n8n_webhook_test_url %}
WEBHOOK_TEST={{ n8n_webhook_test_url }}
{% endif %}

{% if n8n_n8n_custom_extension_bundle %}
N8N_CUSTOM_EXTENSION_BUNDLE={{ n8n_n8n_custom_extension_bundle }}
{% endif %}

{% if n8n_n8n_custom_extensions %}
N8N_CUSTOM_EXTENSIONS={{ n8n_n8n_custom_extensions }}
{% endif %}

N8N_LOG_LEVEL={{ n8n_log_level | default(n8n_log_LEVEL | default("info")) }}

{% for key, value in n8n_generic_variables.items() %}
{{ key }}={{ value }}
{% endfor %}
